*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(45deg,#2D1E2F,#4E2A4F);
    /* background:linear-gradient(45deg,#1A1A1A,#B3945B); */

}
.main{
    background-color: black;
    width: 400px;
    height: 680px;
    border-radius: 8px;
}
.upper{
    background-color:white;
    width: 350px;
    height: 180px;
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.row1{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    text-align: right;
    display:block;
    scroll-behavior: smooth;
    word-wrap: break-word;
}


.row2{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 0px 15px;
}
.row1 h1 {
    display: inline-block; 
    font-size: 35px;
    line-height: 1.2;
}

#e{
    display: inline;
    word-break: normal;
}
#final{
    color: gray;
    font-size: 30px;
    transition: 0.25s ease;
}
.row2 h1 {
    font-size: 35px;
    white-space: nowrap;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 15px 0;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.but{
    padding: 20px;
    background-color: rgb(228 119 19);
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px; 
    transition: transform 0.2s ease;
}
 .but:hover {
    transform: scale(1.05);
    background-color: rgb(255, 145, 45);
}

.but:active {
    transform: scale(0.95);
}
::-webkit-scrollbar {
    display: none;
}
@media(max-width:450px){
    .main{
        width: 300px;
        height: 600px;
    }
    .upper{
        width: 250px;
        height: 180px;
        margin: 20px auto;
    }
    .buttons{
        gap: 10px;
        padding: 10px;
    }
    .but{
        padding: 10px;
        width: 40px;
        height: 35px;
        font-size: 12px;
    }
}

/* .main{
    background-color: black;
    width: 400px;
    height: 680px;
    border-radius: 8px;
}
.upper{
    background-color:white;
    width: 350px;
    height: 180px;
    margin: 20px auto;
}
.buttons{
    gap: 10px;
    padding: 10px;
}

.but{
    padding: 20px;
    width: 40px;
    height: 35px;
} */